<!-- ドロップダウン全体のコンテナ -->
<div class="dropdown" (click)="toggleDropdown()">
  <!-- ドロップダウンボタン -->
  <button class="dropdown-toggle" #dropDown>
    <!-- 選択されたアイテムがあれば表示、なければ"Dropdown"と表示 -->
    <span class="text">
      {{ selectedItem || "Dropdown" }}
    </span>
    <!-- ドロップダウンアイコン -->
    <span class="icon">▽</span>
  </button>

  <!-- ドロップダウンメニュー。開いているときだけ表示 -->
  <div class="dropdown-menu" #dropDownMenu [hidden]="isHidden">
    <!-- メニューアイテムをループして表示 -->
    <div
      class="item"
      *ngFor="let item of items; let index = index"
      (click)="selectItem(index, item)"
    >
      <!-- 各アイテムのラベルを表示 -->
      {{ item }}
    </div>
  </div>
</div>
